## Python List

- A Python list is a *versatile and mutable collection of elements*. 
- It can hold items of different data types (e.g., integers, strings, other lists) and allows for easy modification, appending, slicing, and other operations.
- List is an *ordered collection of items*. Each item in a list has a unique position index, starting from 0.
- A Python list is a sequence of comma separated items, enclosed in square brackets [ ]. 
- The items in a Python list need not be of the same data type.

### Important to Note
- A Python list is *mutable*. 
- Any item from the list can be accessed using its index, and can be modified. 
- One or more objects from the list can be removed or added. 
- A list may have same item at more than one index positions.

In [1]:
my_list = [1, 2, 3, 'hello', True]

print(my_list)

[1, 2, 3, 'hello', True]

In [2]:
list1 = ["Rohan", "Physics", 21, 69.75]
list2 = [1, 2, 3, 4, 5]
list3 = ["a", "b", "c", "d"]
list4 = [25.50, True, -55, 1+2j]

print(list1)
print(list2)
print(list3)
print(list4)

['Rohan', 'Physics', 21, 69.75]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[25.5, True, -55, (1+2j)]

### Basic Operations
- **Accessing Elements :** access elements of a list using indexing
- **Slicing :** extract a subset of elements from the list
- **Modifying Elements :** Lists are mutable, meaning we can change their elements
- **Appending Elements :** add new elements to the end of the list using the `append()` method
- **Length :** Determine the length of a list using the `len()` function
- **Concatenation :** Combine lists using the `+` operator or the `extend()` method
- **Removing Elements :** Remove elements by value using `remove()` or by index using del or `pop()`
- **Iterating Over Lists**
- **List Comprehensions**

In [3]:
# access elements 

list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])

print ("list2[1:5]: ", list2[1:5]) # access sublist

print ("Access Item from right: ", list1[-3])

print ("Access all item: ", list1[:])

print ("Access Item 1997 using negative index: ", list1[2:-1])

print('Access Item alternatively', list2[1:6:2])

print(f'Length: {len(list1)}')

#print(max(list1)) # show errors

print(f'Maximun:{max(list2)}')

print(f'Minumun {min(list2)}')

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Access Item from right:  chemistry
Access all item:  ['physics', 'chemistry', 1997, 2000]
Access Item 1997 using negative index:  [1997]
Access Item alternatively [2, 4, 6]
Length: 4
Maximun:7
Minumun 1

In [28]:
aTuple = (123, 'xyz', 'zara', 'abc')
aList = list(aTuple)
print("List elements : ", aList)

List elements :  [123, 'xyz', 'zara', 'abc']

In [4]:
# update list values 

list1 = ['physics', 'chemistry', 1997, 2000]

print ("Value available at index 2 : ", list1[2])

list1[2] = 2001
print ("New value available at index 2 : ", list1)

list3=[1800,2001]
list1[2:]=list3  # Change Consecutive List Items

print("New List:",list1)

Value available at index 2 :  1997
New value available at index 2 :  ['physics', 'chemistry', 2001, 2000]
New List: ['physics', 'chemistry', 1800, 2001]

In [8]:
# convert other datatype into list item

aTuple = (123, 'xyz', 'zara', 'abc')
aList = list(aTuple)

print("List elements:", aList)

aString = "hello"
aList = list(aString)
print("List elements : ", aList)

aSet = {1, 2, 3, 4, 5}
aList = list(aSet)
print("List elements : ", aList)

aDict = {1: "a", 2: "b", 3: "c", 4: "d", 5: "e"}
aList = list(aDict)
print("List elements : ", aList)

List elements: [123, 'xyz', 'zara', 'abc']
List elements :  ['h', 'e', 'l', 'l', 'o']
List elements :  [1, 2, 3, 4, 5]
List elements :  [1, 2, 3, 4, 5]

In [30]:
# Delete list values

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

del list1[2]
print ("After deleting value at index 2 : ", list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

In [7]:
# list operation

l1=[1,2,3,4,5]
l2=[4,5,6,7,8]

print(l1+l2) # concatenation 

print(l1*2) # Repetition

print(3 in l1) # Membership

print(3 not in l1) # Membership

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

### Built-in List methods

In [31]:
# Adds an element to the end of the list

fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')

print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']
Original list  ['Rohan', 'Physics', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 'Pass', 69.75]

In [33]:
# Inserts an element at a specified position

fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'orange')

print(fruits)  # Output: ['apple', 'orange', 'banana', 'cherry']

print('---------------------------------------')

list1 = ["Rohan", "Physics", 21, 69.75]
print ("Original list ", list1)

list1.insert(2, 'Chemistry')
print ("List after appending: ", list1)

list1.insert(-1, 'Pass')
print ("List after appending: ", list1)

['apple', 'orange', 'banana', 'cherry']
---------------------------------------
Original list  ['Rohan', 'Physics', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 'Pass', 69.75]

In [20]:
# Removes the first occurrence of a specified element

fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')

print(fruits)  # Output: ['apple', 'cherry']

['apple', 'cherry']

In [35]:
# Removes and returns the element at the specified index. If no index is specified, removes and returns the last element

fruits = ['apple', 'banana', 'cherry']
removed = fruits.pop(1)

print(fruits)  # Output: ['apple', 'cherry']
print(removed)  # Output: banana

removed = fruits.pop()
print(removed)
print(fruits)

print('------------------------------------------')

list1 = ["a", "b", "c", "d"]
print ("Original list: ", list1)

del list1[2]

print ("List after deleting: ", list1)

print('-----------------------------------------')

list2 = [25.50, True, -55, 1+2j]
print ("List before deleting: ", list2)

del list2[0:2]
print ("List after deleting: ", list2)

['apple', 'cherry']
banana
cherry
['apple']
------------------------------------------
Original list:  ['a', 'b', 'c', 'd']
List after deleting:  ['a', 'b', 'd']
-----------------------------------------
List before deleting:  [25.5, True, -55, (1+2j)]
List after deleting:  [-55, (1+2j)]

In [22]:
# Removes all elements from the list

fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)  # Output: []

[]

In [23]:
# Returns the index of the first occurrence of a specified element

fruits = ['apple', 'banana', 'cherry', 'banana']
index = fruits.index('banana')
print(index)  # Output: 1

1

In [24]:
#  Returns the number of occurrences of a specified element in the list

fruits = ['apple', 'banana', 'cherry', 'banana']
count = fruits.count('banana')
print(count)  # Output: 2

2

In [56]:
# Sorts the list in ascending order

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
numbers.sort()
print(numbers)  # Output: [1, 1, 2, 3, 4, 5, 5, 6, 9]

print('-----------------------------------------------------')

list1 = ['physics', 'Biology', 'chemistry', 'maths']
print ("list before sort", list1)
list1.sort()
print ("list after sort : ", list1)

list2 = [10,16, 9, 24, 5]
print ("list before sort", list2)
list2.sort()
print ("list after sort : ", list2)

print('------------------------------------------------------')

list1 = ['Physics', 'biology', 'Biomechanics', 'psychology']
print ("list before sort", list1)

list1.sort(key=str.lower)
print ("list after sort : ", list1)

[1, 1, 2, 3, 4, 5, 5, 6, 9]
-----------------------------------------------------
list before sort ['physics', 'Biology', 'chemistry', 'maths']
list after sort :  ['Biology', 'chemistry', 'maths', 'physics']
list before sort [10, 16, 9, 24, 5]
list after sort :  [5, 9, 10, 16, 24]
------------------------------------------------------
list before sort ['Physics', 'biology', 'Biomechanics', 'psychology']
list after sort :  ['biology', 'Biomechanics', 'Physics', 'psychology']

In [57]:
# sort using functions

def myfunction(x):
    return x%10

list1 = [17, 23, 46, 51, 90]
print ("list before sort", list1)

list1.sort(key=myfunction)
print ("list after sort : ", list1)

list before sort [17, 23, 46, 51, 90]
list after sort :  [90, 51, 23, 46, 17]

In [26]:
# Reverses the order of elements in the list

numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [60]:
# Returns a shallow copy of the list

fruits = ['apple', 'banana', 'cherry']
fruits_copy = fruits.copy()
print(fruits_copy)  # Output: ['apple', 'banana', 'cherry']

print('-----------------------------------------------------')

lst = [10, 20]
print ("lst:", lst, "id(lst):",id(lst))
lst1 = lst
print ("lst1:", lst1, "id(lst1):",id(lst1))

# In Python, a variable is just a label or reference to the object in the memory. 
# Hence, the assignment "lst1 = lst" refers to the same list object in the memory.

print('-----------------------------------------------------')

lst[0]=100
print ("lst:", lst, "id(lst):",id(lst))
print ("lst1:", lst1, "id(lst1):",id(lst1))  # can say that "lst1" is not the physical copy of "lst".

print('-----------------------------------------------------')

lst = [10, 20]
lst1 = lst.copy()
print ("lst:", lst, "id(lst):",id(lst))
print ("lst1:", lst1, "id(lst1):",id(lst1))

['apple', 'banana', 'cherry']
-----------------------------------------------------
lst: [10, 20] id(lst): 2410819850688
lst1: [10, 20] id(lst1): 2410819850688
-----------------------------------------------------
lst: [100, 20] id(lst): 2410819850688
lst1: [100, 20] id(lst1): 2410819850688
-----------------------------------------------------
lst: [10, 20] id(lst): 2410819654528
lst1: [10, 20] id(lst1): 2410819851648

- Even if the two lists have same data, they have different id() value, hence they are two different objects and "lst1" is a copy of "lst".
- If we try to modify "lst", it will not reflect in "lst1".

In [61]:
lst[0]=100
print ("lst:", lst, "id(lst):",id(lst))
print ("lst1:", lst1, "id(lst1):",id(lst1))

lst: [100, 20] id(lst): 2410819654528
lst1: [10, 20] id(lst1): 2410819851648

In [63]:
# extend a list by appending elements from another iterable

# Initial list
fruits = ['apple', 'banana', 'cherry']

# Another list to extend 'fruits'
more_fruits = ['orange', 'grape']

# Extend 'fruits' with elements from 'more_fruits'
fruits.extend(more_fruits)

print(fruits)

['apple', 'banana', 'cherry', 'orange', 'grape']

In [65]:
# extend and list Concatenation Operator provides same output

# Initial list
fruits1 = ['apple', 'banana', 'cherry']

# Another list to extend 'fruits'
more_fruits1 = ['orange', 'grape']

# Extend 'fruits' with elements from 'more_fruits'
fruits1+=more_fruits

print(fruits1)

['apple', 'banana', 'cherry', 'orange', 'grape']

In [67]:
L1 = [10,20,30,40]
L2 = ['one', 'two', 'three', 'four']

for x in L2:
    L1.append(x)

print ("Joined list:", L1)

Joined list: [10, 20, 30, 40, 'one', 'two', 'three', 'four']

### Loop Through List Items

In [36]:
# Loop Through List Items

lst = [25, 12, 10, -21, 10, 100]
for num in lst:
    print (num, end = ' ')

25 12 10 -21 10 100

In [38]:
lst = [25, 12, 10, -21, 10, 100]

indices = range(len(lst))

for i in indices:
    print ("lst[{}]: ".format(i), lst[i])
    
print('-------------------------')

for i in range(len(lst)):
    print(i)

lst[0]:  25
lst[1]:  12
lst[2]:  10
lst[3]:  -21
lst[4]:  10
lst[5]:  100
-------------------------
0
1
2
3
4
5

### List Comprehension 
- Concise way to create new list by performing some kind of process on each item on existing list. 
- List comprehension is considerably faster than processing a list by for loop.
- `listObj = [x for x in iterable]`

In [40]:
# Common approach 

chars=[]
for ch in 'Python Learning':
    if ch not in 'aeiou':
        chars.append(ch)
print (chars)

['P', 'y', 't', 'h', 'n', ' ', 'L', 'r', 'n', 'n', 'g']

In [50]:
# list comprehension

list1=[i for i in range(1,10)]

print(list1)

squares = [x*x for x in range(1,11)]
print (squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
chars = [ char for char in 'Python Learning' if char not in 'aeiou']
print (chars)

['P', 'y', 't', 'h', 'n', ' ', 'L', 'r', 'n', 'n', 'g']

In [51]:
# Nested loop

list1=[1,2,3]
list2=[4,5,6]

CombLst=[(x,y) for x in list1 for y in list2]

print (CombLst)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [53]:
# Condition in Python List Comprehension

list1=[x for x in range(1,21) if x%2==0]

print (list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Python Tuples

- A tuple in Python is an *ordered collection of elements*, similar to a list, but it's *immutable*, meaning we can't modify its elements once it's created. 

### Basic Operation 
- Creation
- Accessing Elements
- Immutable Nature
- Tuple Slicing
- Tuple Concatenation and Repetition
- Tuple Methods

In [68]:
# Create Tuple

my_tuple = (1, 2, 3, 'hello', 'world')

print(my_tuple)

(1, 2, 3, 'hello', 'world')

In [78]:
tup1 = ("Rohan", "Physics", 21, 69.75)
tup2 = (1, 2, 3, 4, 5)
tup3 = ("a", "b", "c", "d")
tup4 = (25.50, True, -55, 1+2j)

print(tup1)
print(tup2)
print(tup3)
print(tup4)

print(type(tup1))

tup5=() # empty tuples
print(tup5)

('Rohan', 'Physics', 21, 69.75)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(25.5, True, -55, (1+2j))
<class 'tuple'>
()

- To write a tuple containing a single value you have to include a `comma`, even though there is only one value `tup1=(5,)`
- In Python, tuple is a sequence data type. 
- It is an ordered collection of items. 
- Each item in the tuple has a unique position index, starting from 0.
- One major difference between the two is, Python `list is mutable, whereas tuple is immutable`. 
- Although any item from the tuple `can be accessed using its index`, and `cannot be modified, removed or added`.

In [81]:
# Access Elements
my_tuple = (1, 2, 3, 'hello', 'world')

print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: 'hello'

print('---------------------------------------')

tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

a
d
---------------------------------------
tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [85]:
# Immutable Nature
my_tuple = (1, 2, 3, 'hello', 'world')

my_tuple[0] = 10  # This will raise an error since tuples are immutable

print('---------------------------------------------')

tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

TypeError: 'tuple' object does not support item assignment

In [86]:
# Tuple deleting

tup = ('physics', 'chemistry', 1997, 2000)
print (tup)

del tup
print ("After deleting tup : ", tup)

('physics', 'chemistry', 1997, 2000)

NameError: name 'tup' is not defined

In [71]:
# Tuple Slicing
my_tuple = (1, 2, 3, 'hello', 'world')

print(my_tuple[1:4])  # Output: (2, 3, 'hello')

(2, 3, 'hello')

In [87]:
# Tuple Concatenation and Repetition

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = tuple1 + tuple2  # Output: (1, 2, 3, 'a', 'b', 'c')
repeated_tuple = tuple1 * 2  # Output: (1, 2, 3, 1, 2, 3)
membership= 3 in tuple1

print(concatenated_tuple)
print(repeated_tuple)
print(membership)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 1, 2, 3)
True

In [75]:
# Tuple Methods

my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'e')

print(my_tuple.count('e'))  # Output: 3 (count occurrences of 2)
print(my_tuple.index('e'))  # Output: 4 (index of the first occurrence of 4)

2
4

In [97]:
tup1 = ("a", "b", "c", "d")
print ("Tuple before update", tup1, "id(): ", id(tup1))

list1 = list(tup1)
list1[2]='F'
list1.append('Z')
list1.sort()
print ("updated list", list1)

tup1 = tuple(list1)
print ("Tuple after update", tup1, "id(): ", id(tup1))

Tuple before update ('a', 'b', 'c', 'd') id():  2410834080240
updated list ['F', 'Z', 'a', 'b', 'd']
Tuple after update ('F', 'Z', 'a', 'b', 'd') id():  2410834079680

- However, note that the id() of tup1 before update and after update are different. 
- It means that a new tuple object is created and the original tuple object is not modified in-place.

In [96]:
fruits =('apple','orange','mango')

fruits_1 =['apple','orange','mango']

print(min(fruits))
print(max(fruits))
print(len(fruits))

print(tuple(fruits_1)) # type conversion

apple
orange
3
('apple', 'orange', 'mango')

### Unpack Tuple Items
- "unpacking" refers to the process of parsing tuple items in individual variables. 
- In Python, the parentheses are the default delimiters for a literal representation of sequence object.

In [118]:
tup1 = (10,20,30)
x, y1, z = tup1
print ("x: ", x, "y: ", "z: ",z)


# If the number of variables is more or less than the length of tuple, Python raises a ValueError
tup1 = (10,20,30)
# x, y = tup1

x:  10 y:  z:  30

In [119]:
# Unpack Tuple Items Using Asterisk (*)

tup1 = (10,20,30)
x, *y = tup1
print ("x: ", "y: ", y)

x:  y:  [20, 30]

- The first value in tuple is assigned to "x", and rest of items to "y" which becomes a list.

In [120]:
tup1 = (10,20,30, 40, 50, 60)
x, *y1, z = tup1
print ("x: ",x, "y: ", y1, "z: ", z)

x:  10 y:  [20, 30, 40, 50] z:  60

- Here, values are unpacked in "x" and "z" first, and then the rest of values are assigned to "y" as a list.

In [104]:
tup1 = (10,20,30, 40, 50, 60)
*x, y1, z = tup1
print ("x: ",x, "y: ", y1, "z: ", z)

x:  [10, 20, 30, 40] y:  50 z:  60

### Loop Through Tuple Items

- Can traverse the items in a tuple with Python's for loop construct. 
- The traversal can be done, using tuple as an iterator or with the help of index.

In [107]:
tup1 = (25, 12, 10, -21, 10, 100)
for num in tup1:
    print (num, end = ' ')

25 12 10 -21 10 100 ------------------------------
tup1[0]:  25
tup1[1]:  12
tup1[2]:  10
tup1[3]:  -21
tup1[4]:  10
tup1[5]:  100

In [108]:
tup1 = (25, 12, 10, -21, 10, 100)
indices = range(len(tup1))

for i in indices:
    print ("tup1[{}]: ".format(i), tup1[i])

tup1[0]:  25
tup1[1]:  12
tup1[2]:  10
tup1[3]:  -21
tup1[4]:  10
tup1[5]:  100

### Join Python Tuples

In [109]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T1+=T2
print ("Joined Tuple:", T1)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [110]:
# Convert as list before do this because tuple is immutable 

T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
L1 = list(T1)
L2 = list(T2)

L1.extend(L2)

T1 = tuple(L1)
print ("Joined Tuple:", T1)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [111]:
# Python's built-in sum() function also helps in concatenating tuples. sum((t1, t2), ())

T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

- The elements of the first tuple are appended to an empty tuple first, and then elements from second tuple are appended and returns a new tuple that is concatenation of the two.

### Tuples using List Comprehension

In [127]:
# A slightly complex approach for merging two tuples is using list comprehension

T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')

L1, L2 = list(T1), list(T2)

print(L1)
print(L2)

L3 = [y for x in [L1, L2] for y in x]

T3 = tuple(L3)
print ("Joined Tuple:", T3)

[10, 20, 30, 40]
['one', 'two', 'three', 'four']
Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [129]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')

for t in T2:
    T1+=(t,)
    
print (T1)

(10, 20, 30, 40, 'one', 'two', 'three', 'four')

- We can run a for loop on the items in second loop, convert each item in a single item tuple and concatenate it to first tuple with the "+=" operator

### No Enclosing Delimiters
- Any set of multiple objects, comma-separated, written without identifying symbols, i.e., brackets for lists, parentheses for tuples, etc., default to tuples

In [90]:
print ('abc', -4.24e93, 18+6.6j, 'xyz')
x, y = 1, 2

print ("Value of x , y : ", x,y)

abc -4.24e+93 (18+6.6j) xyz
Value of x , y :  1 2

## Python Sets

- Sets in Python are unordered collections of **unique elements**. 
- Set in Python also a collection data type such as *list or tuple*. 
- However, it is *not an ordered collection*, i.e., items in a set or not accessible by its positional index. 
- A set object is a collection of one or more immutable objects enclosed within curly brackets {}.


### Overview 
- *Uniqueness:* Sets only contain unique elements. If we try to add a duplicate element, it won't be included in the set.
- *Unordered:* Elements in a set are not stored in any particular order. This means sets don't support indexing or slicing like lists.
- *Mutable:* Sets are mutable, meaning we can add or remove elements from them.
- *Hashable Elements:* Elements in a set must be hashable, which typically means they should be immutable types (like numbers, strings, or tuples of immutable elements).
- *Operations:* Sets support various operations like union, intersection, difference, and symmetric difference, which make them useful for tasks like finding unique elements in collections, set operations in mathematics, and more.
- *Creation:* We can create a set using curly braces {}, or by using the set() constructor with an iterable (like a list or a tuple) as an argument.

### Common Methods 
- *add(element):* Adds an element to the set.
- *remove(element):* Removes an element from the set. Raises an error if the element is not present.
- *discard(element):* Removes an element from the set if it is present, without raising an error if the element is not found.
- *clear():* Removes all elements from the set.
- *union(other_set):* Returns a new set containing elements from both sets.
- *intersection(other_set):* Returns a new set containing elements common to both sets.
- *difference(other_set):* Returns a new set containing elements that are in the first set but not in the second.
- *symmetric_difference(other_set):* Returns a new set containing elements that are in either of the sets, but not common to both.
- *issubset(other_set):* Checks if all elements of the set are present in another set.
- *issuperset(other_set):* Checks if all elements of another set are present in the set.

In [130]:
s1 = {"Rohan", "Physics", 21, 69.75}
s2 = {1, 2, 3, 4, 5}
s3 = {"a", "b", "c", "d"}
s4 = {25.50, True, -55, 1+2j}

print (s1)
print (s2)
print (s3)
print (s4)

{'Rohan', 21, 69.75, 'Physics'}
{1, 2, 3, 4, 5}
{'b', 'a', 'c', 'd'}
{25.5, -55, True, (1+2j)}

In [134]:
# The set() function returns a set object from the sequence, discarding the repeated elements in it
# set() is one of the built-in functions. 
# It takes any sequence object (list, tuple or string) as argument and returns a set object

L1 = ["Rohan", "Physics", 21, 69.75]
s1 = set(L1)

T1 = (1, 2, 3, 4, 5)
s2 = set(T1)

string = "Python learning"
s3 = set(string)

print (s1)
print (s2)
print (s3)

{'Physics', 21, 69.75, 'Rohan'}
{1, 2, 3, 4, 5}
{'o', 'g', 'n', 'l', 't', 'y', 'P', 'h', ' ', 'e', 'a', 'i', 'r'}

In [132]:
s2 = {1, 2, 3, 4, 5, 3, 0, 1, 9}
s3 = {"a", "b", "c", "d", "b", "e", "a"}

print (s2)
print (s3)

{0, 1, 2, 3, 4, 5, 9}
{'a', 'e', 'd', 'b', 'c'}

- Set is a collection of distinct objects. 
- Even if we repeat an object in the collection, only one copy is retained in it.

In [137]:
s1 = {1, 2, [3, 4, 5], 3,0, 1, 9}
print (s1)

s2 = {"Rohan", {"phy":50}}
print (s2)

TypeError: unhashable type: 'list'

- Only immutable objects can be used to form a set object. 
- Any number type, string and tuple is allowed, but we cannot put a list or a dictionary in a set.
- Python raises TypeError with a message unhashable types 'list' or 'dict'. Hashing generates a unique number for an immutable item that enables quick search inside computer's memory. 
- Python has built-in hash() function. This function is not supported by list or dictionary.

In [139]:
# Access elements

langs = {"C", "C++", "Java", "Python"}
for lang in langs:
    print (lang)

Java
Python
C++
C

In [18]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

for x in s2:
    s1.add(x)
    
print (s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [140]:
# check if a certain item is available in the set

langs = {"C", "C++", "Java", "Python"}

print ("PHP" in langs)
print ("Java" in langs)

False
True

In [142]:
# add() method in set class adds a new element

lang1 = {"C", "C++", "Java", "Python"}

lang1.add("Golang")

print (lang1)

# If the element is already present in the set, there is no change in the set.

lang1.add("C")

print (lang1)

{'Java', 'C++', 'Golang', 'Python', 'C'}
{'Java', 'C++', 'Golang', 'Python', 'C'}

In [143]:
# update() method of set class includes the items of the set given as argument.

lang1 = {"C", "C++", "Java", "Python"}
lang2 = {"PHP", "C#", "Perl"}

lang1.update(lang2)
print (lang1)

{'Java', 'Perl', 'Python', 'PHP', 'C#', 'C++', 'C'}

In [144]:

set1 = set("Hello")
set1.update("World")

print (set1)

{'o', 'l', 'd', 'W', 'e', 'r', 'H'}

In [146]:
# union() method of set class also combines the unique items from two sets

lang1 = {"C", "C++", "Java", "Python"}
lang2 = {"PHP", "C#", "Perl"}

lang3 = lang1.union(lang2)
print (lang3)

{'Java', 'Perl', 'Python', 'PHP', 'C#', 'C++', 'C'}

In [145]:
# automatically converts it to a set first and then performs union

lang1 = {"C", "C++", "Java", "Python"}
lang2 = ["PHP", "C#", "Perl"]

lang3 = lang1.union(lang2)
print (lang3)

{'Java', 'Perl', 'C#', 'C++', 'Python', 'PHP', 'C'}

In [147]:
set1 = set("Hello")
set2 = set1.union("World")

print (set2)

{'o', 'l', 'd', 'W', 'e', 'r', 'H'}

In [3]:
# Remove method removes the given item from the set collection, if it is present in it otherwise shows error

lang1 = {"C", "C++", "Java", "Python"}
print ("Set before removing: ", lang1)

lang1.remove("Java")
print ("Set after removing: ", lang1)

# lang1.remove("PHP")

Set before removing:  {'Python', 'C', 'Java', 'C++'}
Set after removing:  {'Python', 'C', 'C++'}

In [149]:
# discard() method in set class is similar to remove() method. 
# The only difference is, it doesn't raise error even if the object to be removed is not already present in the set collection

lang1 = {"C", "C++", "Java", "Python"}
print ("Set before discarding C++: ", lang1)

lang1.discard("C++")

print ("Set after discarding C++: ", lang1)

print ("Set before discarding PHP: ", lang1)
lang1.discard("PHP")

print ("Set after discarding PHP: ", lang1)

Set before discarding C++:  {'Java', 'Python', 'C++', 'C'}
Set after discarding C++:  {'Java', 'Python', 'C'}
Set before discarding PHP:  {'Java', 'Python', 'C'}
Set after discarding PHP:  {'Java', 'Python', 'C'}

In [153]:
# pop() method returns the object removed from set

lang1 = {"C", "C++"}
print ("Set before popping: ", lang1)
obj = lang1.pop()

print ("object popped: ", obj)

print ("Set after popping: ", lang1)
obj = lang1.pop()

print ("object popped: ", obj)

#obj = lang1.pop()

Set before popping:  {'C++', 'C'}
object popped:  C++
Set after popping:  {'C'}
object popped:  C

In [155]:
# clear() method in set class removes all the items in a set object, leaving an empty set

lang1 = {"C", "C++", "Java", "Python"}
print (lang1)

print ("After clear() method")
lang1.clear()

print (lang1)

{'Java', 'Python', 'C++', 'C'}
After clear() method
set()

### Set Operations

- Union : union of two sets is a set containing all elements that are in A or in B or both
- Intersection : intersection of two sets AA and BB, denoted by AB, consists of all elements that are both in A and B
- Difference (subtraction) : set AB consists of elements that are in A but not in B
- symmetric difference : `A  B = (A  B)  (B  A)`
- Intersection_update :  update a set by keeping only the elements that are common with another set (or any iterable object). It modifies the set in place by removing elements that are not present in both sets.
- Symmetric_difference_update : used to update a set by keeping only the elements that are unique to each set and removing the common elements.
- Difference_update : used to update a set by removing elements that are common with another set (or any iterable object)
- isdisjoint() : Return True if two sets have a null intersection.
- issubset() : Return True if another set contains this set.
- issuperset() : Return True this set contains another set.
- s.copy() : new set with shallow copy of s

In [27]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print(union_set)

union_set = set1 |set2
print(union_set)

print('--------------------------------')

intersection_set = set1.intersection(set2)
print(intersection_set)

intersection_set = set1 & set2
print(intersection_set)

print('--------------------------------')

difference_set = set1.difference(set2)
print(difference_set)

difference_set = set1 - set2
print(difference_set)

print('--------------------------------')

symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

symmetric_difference = set1 ^ set2
print(symmetric_difference)

print('--------------------------------')

is_subset = set1.issubset(set2)
print(is_subset)

is_superset = set1.issuperset(set2)
print(is_superset)

is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------
{4, 5}
{4, 5}
--------------------------------
{1, 2, 3}
{1, 2, 3}
--------------------------------
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
--------------------------------
False
False
False

In [28]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.intersection_update(set2)
print(set1)

{4, 5}

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 3, 6, 7, 8}

### Join Python Sets Using Unpacking Operator

In [22]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s3 = {*s1, *s2}

print (s3)

{1, 2, 3, 4, 5, 6, 7, 8}

### Python Copy set

In [23]:
lang1 = {"C", "C++", "Java", "Python"}
print ("lang1: ", lang1, "id(lang1): ", id(lang1))

lang2 = lang1.copy()
print ("lang2: ", lang2, "id(lang2): ", id(lang2))

lang1.add("PHP")

print ("After updating lang1")

print ("lang1: ", lang1, "id(lang1): ", id(lang1))
print ("lang2: ", lang2, "id(lang2): ", id(lang2))

lang1:  {'Python', 'C', 'Java', 'C++'} id(lang1):  2404105747392
lang2:  {'Python', 'C', 'Java', 'C++'} id(lang2):  2404105746944
After updating lang1
lang1:  {'C', 'Java', 'Python', 'PHP', 'C++'} id(lang1):  2404105747392
lang2:  {'Python', 'C', 'Java', 'C++'} id(lang2):  2404105746944

## Python Dictionaries

- A Python dictionary is a data structure that stores *key-value pairs*. 
- Each key in a dictionary must be unique, and it is used to access its corresponding value.

In [29]:
capitals = {"Maharashtra":"Mumbai", "Gujarat":"Gandhinagar", "Telangana":"Hyderabad", "Karnataka":"Bengaluru"}

numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}

marks = {"Savita":67, "Imtiaz":88, "Laxman":91, "David":49}

print(capitals)

print(numbers)

print(marks)

{'Maharashtra': 'Mumbai', 'Gujarat': 'Gandhinagar', 'Telangana': 'Hyderabad', 'Karnataka': 'Bengaluru'}
{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
{'Savita': 67, 'Imtiaz': 88, 'Laxman': 91, 'David': 49}

In [31]:
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}

d2 = {('India, USA'):'Countries', ('New Delhi', 'New York'):'Capitals'}

print (d1)
print (d2)

{'Fruit': ['Mango', 'Banana'], 'Flower': ['Rose', 'Lotus']}
{'India, USA': 'Countries', ('New Delhi', 'New York'): 'Capitals'}

In [32]:
d1 = {["Mango","Banana"]:"Fruit", "Flower":["Rose", "Lotus"]}

print (d1)

TypeError: unhashable type: 'list'

Only a number, string or tuple can be used as key. All of them are immutable.

In [33]:
d1 = {"Banana":"Fruit", "Rose":"Flower", "Lotus":"Flower", "Mango":"Fruit"}

d2 = {"Fruit":"Banana","Flower":"Rose", "Fruit":"Mango", "Flower":"Lotus"}

print (d1)

print (d2)

{'Banana': 'Fruit', 'Rose': 'Flower', 'Lotus': 'Flower', 'Mango': 'Fruit'}
{'Fruit': 'Mango', 'Flower': 'Lotus'}

We can assign a value to more than one keys in a dictionary, but a key cannot appear more than once in a dictionary.

### Python Dictionary Operators

- In Python, dictionaries support several operators and methods for efficient manipulation.

- **Accessing Values :** To access the value associated with a key: `dict_name[key]`
    - Example: `my_dict['name']` accesses the value associated with the key 'name' in the dictionary my_dict.
- **Adding or Modifying Items :** Adding or modifying a key-value pair: `dict_name[key] = value`
    - Example: `my_dict['age'] = 30` adds a new key 'age' with the value 30 to my_dict or modifies the value if 'age' already exists.
- **Deleting Items :** Deleting a key-value pair: `del dict_name[key]`
    - Example: `del my_dict['city']` removes the key 'city' and its corresponding value from my_dict.
- **Checking Membership :** Checking if a key exists in the dictionary: `key in dict_name`
    - Example: 'age' in my_dict returns True if 'age' is a key in my_dict, otherwise False.
- **Length :** Getting the number of key-value pairs in a dictionary: `len(dict_name)`
    - Example: `len(my_dict)` returns the number of items in my_dict.
- **Dictionary Concatenation :** Combining two dictionaries: `dict1.update(dict2)`
    - Example: `my_dict.update({'gender': 'Male'})` merges the dictionary {'gender': 'Male'} into my_dict.
- **Dictionary Copy :** Creating a copy of a dictionary: `new_dict = dict_name.copy()`
    - Example: `new_dict = my_dict.copy()` creates a shallow copy of my_dict in new_dict.
- **Clearing a Dictionary:** Removing all items from a dictionary: `dict_name.clear()` 
    - Example: `my_dict.clear()` removes all items from my_dict, leaving it empty.

In [50]:
# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Accessing values using keys
print(my_dict['name'])  
print(my_dict.get('age'))  # we use get method also to access elements

# Adding a new key-value pair
my_dict['job'] = 'Engineer'
print(my_dict)  # Output: {'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

# Modifying a value
my_dict['age'] = 35
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'city': 'New York', 'job': 'Engineer'}

if 'age' in my_dict:
    print("Age is present in the dictionary.")  # Output: Age is present in the dictionary.
else:
    print('Sorry..! This element is not present')
    
print(len(my_dict))  # Output: 3


new_dict = {'city': 'New York', 'job': 'Doctor'}

# Combining dictionaries
my_dict.update(new_dict)
print(f'Updated Dictionaries', my_dict)

# Creating a copy
new_dict = my_dict.copy()
print(new_dict)  
    
# Removing a key-value pair
del my_dict['city']
print("After City Delete", my_dict)  # Output: {'name': 'John', 'age': 35, 'job': 'Engineer'}

# Checking if a key exists
if 'age' in my_dict:
    print("Age is present in the dictionary.")
else:
    print("Age is not present in the dictionary.")
    
my_dict.clear()

print(my_dict)

John
30
{'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer'}
{'name': 'John', 'age': 35, 'city': 'New York', 'job': 'Engineer'}
Age is present in the dictionary.
4
Updated Dictionaries {'name': 'John', 'age': 35, 'city': 'New York', 'job': 'Doctor'}
{'name': 'John', 'age': 35, 'city': 'New York', 'job': 'Doctor'}
After City Delete {'name': 'John', 'age': 35, 'job': 'Doctor'}
Age is present in the dictionary.
{}

In [53]:
# Creating a dictionary
Employee = {'name': 'John', 'age': 30, 'city': 'New York'}

# Accessing values using keys
print(Employee['name'])  
print(Employee.get('age'))  # we use get method also to access elements


# print(my_dict['Phone'])  # Raises a KeyError if the key given inside the square brackets is not present in the dictionary
print(my_dict.get('phone')) # doesn't raise error if the key is not found; it return None

print ("Employee Phone Number: ", Employee.get('phone', 'Not found'))

John
30
None
Employee Phone Number:  Not found

### Dictionary from List of Tuples

- The dict() function constructs a dictionary from a list or tuple of two-item tuples.
- Using dict() function without any arguments creates an empty dictionary object. 
- It is equivalent to putting nothing between curly brackets.

In [55]:
d1=dict([('a', 100), ('b', 200)])

d2 = dict((('a', 'one'), ('b', 'two')))

print ('d1: ', d1)
print ('d2: ', d2)

d1:  {'a': 100, 'b': 200}
d2:  {'a': 'one', 'b': 'two'}

### Dictionary from Keyword Arguments

- The dict() function can take any number of keyword arguments with name=value pairs. 
- It returns a dictionary object with the name as key and associates it to the value.

In [56]:
d1=dict(a= 100, b=200)
d2 = dict(a='one', b='two')
print ('d1: ', d1)
print ('d2: ', d2)

d1:  {'a': 100, 'b': 200}
d2:  {'a': 'one', 'b': 'two'}

In [68]:
marks = {"Savita":67, "Imtiaz":88, "Laxman":91, "David":49}
print ("marks dictionary before update: ", marks)

marks['Laxman'] = 95
print ("marks dictionary after update: ", marks)

marks['David'] = 49
print ("marks dictionary after update: ", marks) # does not create new if it is already present

marks['Mona'] = 98
print ("marks dictionary after update: ", marks) # does create new if not present

marks1={"Riya" : 78, "Priya":56, "Laxman":92}
marks.update(marks1)

print ("marks dictionary after update: \n", marks)

marks1 = [("Sharad", 51), ("Mushtaq", 61), ("Laxman", 89)] # Update with Iterable
marks.update(marks1)

print ("marks dictionary after update: \n", marks)

marks.update(Sharad = 51, Mushtaq = 61, Laxman = 89) # Update with Keyword Arguments

print ("marks dictionary after update: \n", marks)

marks1 = {"Sharad": 50, "Mushtaq": 61, "Laxman": 89}
newmarks = {**marks, **marks1}

print ("marks dictionary after update: \n", newmarks)

newmarks = marks | marks1 # use union operator
print ("marks dictionary after update: \n", newmarks)

marks1 = {"Sharad": 51, "Mushtaq": 60, "Laxman": 89}
marks |= marks1 # augmented Union operator. It performs in-place update
print ("marks dictionary after update: \n", marks)

marks dictionary before update:  {'Savita': 67, 'Imtiaz': 88, 'Laxman': 91, 'David': 49}
marks dictionary after update:  {'Savita': 67, 'Imtiaz': 88, 'Laxman': 95, 'David': 49}
marks dictionary after update:  {'Savita': 67, 'Imtiaz': 88, 'Laxman': 95, 'David': 49}
marks dictionary after update:  {'Savita': 67, 'Imtiaz': 88, 'Laxman': 95, 'David': 49, 'Mona': 98}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 92, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 89, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56, 'Sharad': 51, 'Mushtaq': 61}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 89, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56, 'Sharad': 51, 'Mushtaq': 61}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 89, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56, 'Sharad': 50, 'Mushtaq': 61}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 89, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56, 'Sharad': 50, 'Mushtaq': 61}
marks dictionary after update:
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 89, 'David': 49, 'Mona': 98, 'Riya': 78, 'Priya': 56, 'Sharad': 51, 'Mushtaq': 60}

If the key is already present in the dictionary object, its value will be updated to val. If the key is not present in the dictionary, a new key-value pair will be added.

### Remove Dictionary Items

In [69]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
print ("numbers dictionary before delete operation: \n", numbers)

del numbers[20]
print ("numbers dictionary before delete operation: \n", numbers)

numbers dictionary before delete operation:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
numbers dictionary before delete operation:
 {10: 'Ten', 30: 'Thirty', 40: 'Forty'}

In [70]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}

print ("numbers dictionary before delete operation: \n", numbers)

del numbers
print ("numbers dictionary before delete operation: \n", numbers)

# The del keyword with the dict object itself removes it from memory.

numbers dictionary before delete operation:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}

NameError: name 'numbers' is not defined

In [73]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
print ("numbers dictionary before clear method: \n", numbers)

numbers.clear()
print ("numbers dictionary after clear method: \n", numbers)

numbers dictionary before clear method:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
numbers dictionary after clear method:
 {}

In [71]:
# pop() method returns the value of the specified key after removing the key-value pair

numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
print ("numbers dictionary before pop operation: \n", numbers)
val = numbers.pop(20)

print ("nubvers dictionary after pop operation: \n", numbers)
print ("Value popped: ", val)

numbers dictionary before pop operation:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
nubvers dictionary after pop operation:
 {10: 'Ten', 30: 'Thirty', 40: 'Forty'}
Value popped:  Twenty

In [72]:
# popitem() method in dict class doesn't take any argument. 
# It pops out the last inserted key-value pair, and returns the same as a tuple

numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
print ("numbers dictionary before pop operation: \n", numbers)

val = numbers.popitem()
print ("numbers dictionary after pop operation: \n", numbers)
print ("Value popped: ", val)

numbers dictionary before pop operation:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
numbers dictionary after pop operation:
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty'}
Value popped:  (40, 'Forty')

### Dictionary View Objects

- The items(), keys(), and values() methods of dict class return view objects. 
- These views are refreshed dynamically whenever any change occurs in the contents of their source dictionary object.
- `items()` Method : This method returns a view object that displays a list of a dictionary's key-value tuple pairs.
- `keys()` Method : This method returns a view object that displays a list of all keys in the dictionary.
- `values()` Method: This method returns a view object that displays a list of all values in the dictionary.

In [78]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

items = my_dict.items()
print(items)  # Output: dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

my_dict.update({'Phone':98768})

print ("View automatically updated")
print (my_dict)

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])
View automatically updated
{'name': 'John', 'age': 30, 'city': 'New York', 'Phone': 98768}

In [81]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
keys = my_dict.keys()

print(keys)  # Output: dict_keys(['name', 'age', 'city'])

my_dict.update({'Phone':98768})

print ("View automatically updated")
print (my_dict)

dict_keys(['name', 'age', 'city'])
View automatically updated
{'name': 'John', 'age': 30, 'city': 'New York', 'Phone': 98768}

In [80]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
values = my_dict.values()

print(values)  # Output: dict_values(['John', 30, 'New York'])

my_dict.update({'Phone':98768})

print ("View automatically updated")
print (my_dict)

dict_values(['John', 30, 'New York'])
View automatically updated
{'name': 'John', 'age': 30, 'city': 'New York', 'Phone': 98768}

### Looping through Dictionary Keys using For Loop

In [91]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers:
    print (x)
    
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers:
    print (x, numbers[x])

10
20
30
40
10 Ten
20 Twenty
30 Thirty
40 Forty

In [94]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers.items():
    print (x)
    
print('--------------------------')

for x,y in numbers.items():
    print (x, ":" ,y)

(10, 'Ten')
(20, 'Twenty')
(30, 'Thirty')
(40, 'Forty')
--------------------------
10 : Ten
20 : Twenty
30 : Thirty
40 : Forty

In [96]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers.keys():
    print (x, ":", numbers[x])

10 : Ten
20 : Twenty
30 : Thirty
40 : Forty

In [87]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers.values():
    print (x)

Ten
Twenty
Thirty
Forty

In [98]:
# Loop Through Dictionary Using keys() and values()

numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
l = len(numbers)

for x in range(l):
    print (list(numbers.keys())[x], ":", list(numbers.values())[x])

10 : Ten
20 : Twenty
30 : Thirty
40 : Forty

In [99]:
# Creating a dictionary, to create a shallow copy of a dictionary.

dict1 = {"name": "Krishna", "age": "27", "doy": 1992}

# Copying the dictionary
dict2 = dict1.copy()

# Printing both of the dictionaries
print("dict1 :", dict1)
print("dict2 :", dict2)

dict2 = dict(dict1) # creates a new dictionary using the contents of an existing dictionary.

# Printing both of the dictionaries
print("dict1 :", dict1)
print("dict2 :", dict2)

dict1 : {'name': 'Krishna', 'age': '27', 'doy': 1992}
dict2 : {'name': 'Krishna', 'age': '27', 'doy': 1992}

### Nested Dictionaries

In [102]:
# nested structure if value of one or more keys is another dictionary. 
# A nested dictionary is usually employed to store a complex data structure

marklist = {
   "Mahesh" : {"Phy" : 60, "maths" : 70},
   "Madhavi" : {"phy" : 75, "maths" : 68},
   "Mitchell" : {"phy" : 67, "maths" : 71}
}

for k,v in marklist.items():
    print (k, ":", v)
    
print (marklist.get("Madhavi")['maths'])

obj=marklist['Mahesh']
print (obj.get('Phy')) 

print (marklist['Mitchell'].get('maths'))

Mahesh : {'Phy': 60, 'maths': 70}
Madhavi : {'phy': 75, 'maths': 68}
Mitchell : {'phy': 67, 'maths': 71}
68
60
71

It is possible to access value from an inner dictionary with [] notation or get() method.

In [103]:
keys = ['name', 'age', 'city']
default_value = 'Unknown'

my_dict = dict.fromkeys(keys, default_value)
print(my_dict)

# Output: {'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}

{'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}

The fromkeys() method in Python is used to create a new dictionary with keys from a specified iterable (such as a list, tuple, or range) and optional values set to a default or specified value.

In [104]:
keys = ('a', 'b', 'c')
specific_value = 100

my_dict = dict.fromkeys(keys, specific_value)
print(my_dict)
# Output: {'a': 100, 'b': 100, 'c': 100}

{'a': 100, 'b': 100, 'c': 100}

In [105]:
Animal = 'Lion'
value = 'King'
print('The string value is: ', value)

d = dict.fromkeys(Animal, value)
print('The dictionary is: ', d)

The string value is:  King
The dictionary is:  {'L': 'King', 'i': 'King', 'o': 'King', 'n': 'King'}

In [110]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Using 'in' operator to check for a key
if 'age' in my_dict:
    print("The key 'age' exists in the dictionary.")  # Output: The key 'age' exists in the dictionary.

if 'gender' in my_dict:
    print("The key 'gender' exists in the dictionary.")
else:
    print("The key 'gender' does not exist in the dictionary.")  # Output: The key 'gender' does not exist in the dictionary.

The key 'age' exists in the dictionary.
The key 'gender' does not exist in the dictionary.

- The Python dictionary has_key() method is used to verify if a dictionary consists of the specified key or not. This function returns True if a given key is available in the dictionary, otherwise it returns False.
- The has_key() has been deprecated in Python 3. Therefore, in operator is used to check whether the specified key is present in the dictionary or not.

In [111]:
my_dict = {'name': 'John', 'age': 30}

# Adding a new key-value pair using setdefault()
my_dict.setdefault('city', 'New York')
print(my_dict)
# Output: {'name': 'John', 'age': 30, 'city': 'New York'}

# 'city' key already exists, setdefault() does not modify the dictionary
my_dict.setdefault('city', 'Los Angeles')
print(my_dict)
# Output: {'name': 'John', 'age': 30, 'city': 'New York'}

{'name': 'John', 'age': 30, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}

In [112]:
my_dict = {'name': 'John', 'age': 30}

# Using setdefault() with default value
country = my_dict.setdefault('country', 'USA')
print(country)  # Output: USA

print(my_dict)
# Output: {'name': 'John', 'age': 30, 'country': 'USA'}

USA
{'name': 'John', 'age': 30, 'country': 'USA'}

- `setdefault()` method in Python dictionaries is used to insert a key-value pair into a dictionary if the specified key does not exist. 
- If the key already exists, it returns the corresponding value without modifying the dictionary. This method is useful when we want to ensure that a key exists in a dictionary and provide a default value if it does not.

## Python Arrays

- Array is a container which can hold a fix number of items and these items should be of the same type.
For Instance:
- `int array [10]`-- 35, 33, 42, 20, 45, 78, 9, 78, 90, 89
- Index starts with 0.
- Array length is 10 which means it can store 10 elements.
- Each element can be accessed via its index. For example, we can fetch an element at index 6 as 9.

### Basic Operations
- **Traverse**  Print all the array elements one by one.
- **Insertion**  Adds an element at the given index.
- **Deletion**  Deletes an element at the given index.
- **Search**  Searches an element using the given index or by the value.
- **Update**  Updates an element at the given index.

## Important to Note

- Python's standard data types list, tuple and string are sequences. 
- A sequence object is an ordered collection of items. 
- Each item is characterized by incrementing index starting with zero. 
- Moreover, items in a *sequence need not be of same type*. 
- In other words, a list or tuple may consist of items of different data type.

### Syntax
- `import array;
obj = array.array(typecode[, initializer])`

- typecode : typecode character used to create the array.
- initializer :array initialized from the optional value, which must be a list, a bytes-like object, or iterable over elements of the appropriate type.

In [113]:
import array as arr

# creating an array with integer type
a = arr.array('i', [1, 2, 3])
print (type(a), a)

# creating an array with char type
a = arr.array('u', 'BAT')
print (type(a), a)

# creating an array with float type
a = arr.array('d', [1.1, 2.2, 3.3])
print (type(a), a)

<class 'array.array'> array('i', [1, 2, 3])
<class 'array.array'> array('u', 'BAT')
<class 'array.array'> array('d', [1.1, 2.2, 3.3])

In [121]:
from array import *

array1 = array('i', [10,20,30,40,50])
for x in array1:
    print(x)
    
    
print(dir(array))

10
20
30
40
50
['__add__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'buffer_info', 'byteswap', 'count', 'extend', 'frombytes', 'fromfile', 'fromlist', 'fromunicode', 'index', 'insert', 'itemsize', 'pop', 'remove', 'reverse', 'tobytes', 'tofile', 'tolist', 'tounicode', 'typecode']

In [137]:
# Access elements

from array import *

array1 = array('i', [10,20,30,40,50])

print (array1[0])
print (array1[2])
#slicing
print (array1[1:])


a = array('i', [10,20,30,40,50])
a[1] = 20
print (a[1])

# a[1] = 'A'
# print (a[1])

10
30
array('i', [20, 30, 40, 50])
20

In [136]:
# Insert element

from array import *

array1 = array('i', [10,20,30,40,50])
array1.insert(1,60)

for x in array1:
    print(x)

a = array('i', [10,20,30,40,50])    
a.append(10)
print (a)

10
60
20
30
40
50
array('i', [10, 20, 30, 40, 50, 10])

In [3]:
import array as arr

a= arr.array('i',[1,2,3,4,5])
b= arr.array('i',[6,7,8,9,10])
a.extend(b)

print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [7]:
# Delete element

from array import *

array1 = array('i', [10,20,30,40,50,40]) # remove first occurrence of a given value from the array
array1.remove(40)

for x in array1:
    print(x)
    

c= array1.pop(3)
print('Using Pop operation', c)

for x in array1:
    print(x)

10
20
30
50
40
Using Pop operation 50
10
20
30
40

In [129]:
# Update element 

from array import *

array1 = array('i', [10,20,30,40,50])
array1[2] = 80

for x in array1:
    print(x)

10
20
80
40
50

In [2]:
# Search elements

from array import *

array1=array('i',[10,20,30,40,50])

print(array1.index(30)) # return index value

2

In [6]:
# 'For' Loop with array

import array as arr

a=arr.array('d',[1,2,3])

for x in a:
    print(x)

print('----------------------')
    
l=len(a)
for x in range(l):
    print(a[x])

print('----------------------')
    
i=0
while i<l:
    print(a[i])
    i+=1

1.0
2.0
3.0
----------------------
1.0
2.0
3.0
----------------------
1.0
2.0
3.0

In [18]:
# array copy

import array as arr

a=arr.array('i',[1,2,3,4,5])
b=a

for i in range(len(b)):
    print(b[i])
    
print(id(a))
print(id(b))

1
2
3
4
5
1889770536800
1889770536800

In [14]:
import array,copy

a=arr.array('i',[1,2,3,4,5])

b=copy.deepcopy(a)

for i in range(len(b)):
    print(b[i])
    
print(id(a))
print(id(b))

a[2]=30

print(a,b)

1
2
3
4
5
1889770361920
1889770360480
array('i', [1, 2, 30, 4, 5]) array('i', [1, 2, 3, 4, 5])

This proves that a new object "b" is created which is an actual copy of "a". If we change an element in "a", it is not reflected in "b"

In [20]:
# Reverse Array - rearrange the given array in the reverse order of the index

import array as arr

a=arr.array('i', [10,4,5,6,7,8,20])
b=arr.array('i')

for i in range(len(a)-1,-1,-1):
    b.append(a[i])
    
print(a,b)

array('i', [10, 4, 5, 6, 7, 8, 20]) array('i', [20, 8, 7, 6, 5, 4, 10])

In [43]:
# array from list

import array as arr

a=arr.array('i',[78,34,56,67])

lst=[5,6,7,3,4]
c=a.fromlist(lst)
print(a)

array('i', [78, 34, 56, 67, 5, 6, 7, 3, 4])

In [23]:
import array as arr

a= arr.array('i',[10,20,4,5,6,70])

b=a.tolist() # file transfer array to list
b.reverse()

a=arr.array('i')

a.fromlist(b) # convert list back to array

print(a)

array('i', [70, 6, 5, 4, 20, 10])

In [26]:
# Sorting

import array as arr

a=arr.array('i',[2,3,4,5,6,7])

for i in range(0, len(a)):
    for j in range(i+1, len(a)):
        if(a[i]<a[j]):
            temp = a[i]
            a[i]=a[j]
            a[j]=temp
print(a)

array('i', [7, 6, 5, 4, 3, 2])

In [29]:
# Using sort method

import array as arr

a=arr.array('i',[45,3,5,6,7,8])
b=a.tolist()
b.sort()

a=arr.array('i')
a.fromlist(b)
print(a)

array('i', [3, 5, 6, 7, 8, 45])

In [35]:
# Using sorted method

import array as arr

a=arr.array('i', [4,5,6,3,6,4])
sorted(a)
print(a)

array('i', [4, 5, 6, 3, 6, 4])

In [36]:
# join arrays

import array as arr

a=arr.array('i', [12,34,56,78,90])
b=arr.array('i', [34,67,89,20,56])

for i in range(len(b)):
    a.append(b[i])
    
print(a,b)

array('i', [12, 34, 56, 78, 90, 34, 67, 89, 20, 56]) array('i', [34, 67, 89, 20, 56])

In [37]:

import array as arr

a=arr.array('i', [12,34,56,78,90])
b=arr.array('i', [34,67,89,20,56])

a.extend(b)
    
print(a)

array('i', [12, 34, 56, 78, 90, 34, 67, 89, 20, 56])

In [38]:
# Reverse array

import array as arr

a=arr.array('i',[1,2,3,4,5])
a.reverse()
print(a)

array('i', [5, 4, 3, 2, 1])

In [41]:
# Count

# Reverse array

import array as arr

a=arr.array('i',[1,2,3,4,5,1])
c=a.count(1)
d=a.index(3)
print(c)
print(d)

2
2